* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
main {
  background-color: hsl(0, 0%, 40%);
  padding-top: 72px;
  padding-bottom: 72px;
}

header {
   border-bottom: 8px solid hsl(0, 0%, 60%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 64px 24px;
  padding-top: 96px;
}

.intro-chunk p {
  min-width: 340px;
  max-width: 420px;
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45, 100%, 50%);
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid hsl(45, 100%, 40%);
  margin-left: -32px;
}

.card {
  background-color: white;
  padding: 8px 24px;
  border-bottom: 8px solid hsl(0, 0%, 60%);
}
